
.dataResult {
    display: grid;
    list-style: none; /*elimina los puntos de la lista*/
    gap: 10px; /*espacio entre cada producto*/
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 35px;
    background-color: #ffff;
    border: 5px solid grey;
    position: relative; /*necesario para posicionar los detalles encima*/
}

.image-data-container {
    display: flex;
    width: 100%; /*se ajusta al contenedor padre, es decir a .dataResult*/
    max-width: 1200px; 
    text-align: left;
}

.productImage {
    display: grid;
    width: 9vw;
    padding: 5px;
    margin-left: 40px;
}

button {
    width: 100%;
    background-color: #ffff;
}

button:hover {
    background-color: #edededa8;
}

.selectedProductResult {
    position: relative;
    margin: 50px;
}

/*mismas dimensiones que .dataresult para mostrar producto seleccionado*/
.unique-product-data-result{
    display: grid;
    border: 2px solid orange;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 35px;
}

.product-details {
    /* tengo que seguir aca */
    /*aca habia puesto un position: absolute ===> esto me arruinaba todo, ya que .product-details no se ajustaba
    al contenedor padre el cual es .unique-product-data-result*/
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 20px;
    top: 0;
    left: 0;
    width: 100%;/* Ocupar todo el ancho del contenedor */
    height: 100%; /* Ocupar todo el alto del contenedor */
    border: 2px solid red;
    background-color: #ffffff;
}

.product-details h2 {
    padding: 10px;
    margin-left: 10px;
}

/*el primer parrafo, (nombre), es el segundo elemento del product-details*/
.product-details > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: 2px solid black;
}
/*esto de child me harto asi que lo hago a mi manera creando mas clases*/
.precio {
    display: flex;
    border: 2px solid black;
}

h2 {
    border: 2px solid black;
}

/*texto con la descripcion*/
.product-description{
    padding: 10px;
    margin-left: 10px;
    border: 2px solid black;
}
.only-one-image {
    display: grid;
    width: 40vw;
    height: 70vh;
    object-fit: contain;
    object-position: left;
    margin-left: 10px;
    border: 2px solid black;
}

.close-button {
    margin-left: 10px;
    width: 100%;
    
}

.buy-button {
    color: white;
    width: 7vw;
    height: 5vh;
    background-color: #1e90ff;
    border: 0;
}

.buy-button:hover {
    background-color: #1c86d1;
}

/*ocultar la lista de productos cuando se apreta un producto*/
.hidden {
    display: none;
}



