
.dataResult {
    width: 90%;
    height: 100%;
    list-style: none; /*elimina los puntos de la lista*/
    gap: 10px; /*espacio entre cada producto*/
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 35px;
    background-color: #ffff;
    position: relative; /*necesario para posicionar los detalles encima*/
}

/*CONTENEDOR GIGANTE*/
.image-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-data:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* contenedor principal que envuelve dos columnas */
.image-data-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    width: 100%; /*se ajusta al contenedor padre, es decir a .dataResult*/
    max-width: 1200px; 
    text-align: left;
}

/*PRIMERA COLUMNA el div image 
.image{
    border: 2px solid black;
}
*/

/*SEGUNDA COLUMNA
.image-price-info{
    border: 2px solid violet;
}*/

.image-price {
    margin-top: 15px;
    font-size: 30px;
}

.image-info{
    font-size: 15px;
}

/* los productos en general */
.product-image {
    display: grid;
    width: 15vw;
    height: 100%;
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*las imagenes como botones*/
button {
    width: 100%;
    background-color: #ffff;
    border: none;
}

button:hover {
    background-color: #edededa8;
}

.hidden{
    display: none;
}

.container{
    width: 90%;
    height: 100%;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 35px;
}

.sub-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    width: 80%;
    height: 80%;
    background-color: #ffff;
    margin: auto;
}

/*.first-section {
    border: 2px solid #f00;
}*/

.first-section img {
    display: grid;
    width:  90%;
    height: 80%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 10px;
}

.first-section h2 {
    font-size: 25px;
    margin-left: 20px;
}

.first-section p {
    max-width: 1200px;
    margin-left: 20px;
}

/*.second-section{
    border: 2px solid violet;
}*/

.second-section > :nth-child(1) {
    margin-top: 30px;
    font-size: 20px;
    max-width: 300px;
}

.second-section > :nth-child(2) {
    font-size: 40px;
    margin-top: 20px;
}

.second-section > :nth-child(3) {
    margin-top: 30px;
    height: 3%;
    color: #ffff;
    max-width: 250px;
    background-color: #1e90ff;
}

.second-section > :nth-child(3):hover {
    background-color: #1c86d1;
}

.second-section > :nth-child(4) {
    margin-top: auto;
    margin-top: 30px;
    max-width: 250px;
}



