.searchBar {
    display: flex;
    width: 100vw;
    height: 7vh;
    background-color: #ffe600;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

form input {
    border: none;
    width: 50vw;
    height: 5vh;
}

.searchIcon {
    color: #808080;
    background-color: #edededa8;
    height: 5vh;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.searchIcon:hover {
    border-color: #c0c0c0;
}

.logoMeli {
    width: 140px;
    height: 140px;
    padding: 5px;
}




